In [3]:
import pandas as pd
import sys
import numpy as np
import matplotlib.pyplot as plt
from data_clean import clean_data, get_features

In [5]:
df1 = clean_data('raw data/2020-12-10tony650steps.csv')
df1_feat = get_features(df1, 20)
df1_feat['height'] = 178

In [6]:
df1_feat

        speed  distance  steps  height
0    0.513875  5.892240      5     178
1    1.142542  6.326686      7     178
2    1.392083  7.527357      8     178
3    1.368875  7.019292      7     178
4    1.360000  7.358440      8     178
..        ...       ...    ...     ...
110  1.520000  3.279863      5     178
111  1.513833  4.095849      6     178
112  1.515667  4.306689      5     178
113  1.506000  2.317603      5     178
114  1.478512  2.878682      1     178

[115 rows x 4 columns]

In [7]:
df2 = clean_data('raw data/2020-12-10mary1.csv')
df2_feat = get_features(df2, 20)
df2_feat['height'] = 150

In [8]:
df2_feat

        speed      distance  steps  height
0    0.000000  0.000000e+00      5     150
1    0.000000  0.000000e+00      5     150
2    0.000000  0.000000e+00      4     150
3    0.000000  0.000000e+00      5     150
4    0.000000  0.000000e+00      8     150
..        ...           ...    ...     ...
119  1.465417  4.926400e+00      6     150
120  1.512792  5.816909e+00      7     150
121  1.539417  4.344704e+00      5     150
122  1.532833  1.308634e+00      5     150
123  1.550000  2.598579e-09      0     150

[124 rows x 4 columns]

In [9]:
df2

,time,gFx,gFy,gFz,ax,ay,az,wx,wy,wz,Latitude,Longitude,speed,v3,distance
0,0.118,-0.091518,0.351527,0.944245,0.086473,-0.028109,-0.011473,0.053900,0.010455,-0.062545,49.246848,-123.040358,0.00,0.091648,0.000000e+00
1,0.122,-0.029058,0.321083,0.873767,0.514708,-0.442742,-0.711033,0.092108,-0.015675,-0.184208,49.246848,-123.040358,0.00,0.986655,0.000000e+00
2,0.118,0.023292,0.398108,0.911767,0.553367,0.237300,0.215067,-0.035575,-0.203158,-0.035350,49.246848,-123.040358,0.00,0.786999,0.000000e+00
3,0.126,0.006492,0.384175,0.889000,0.236283,0.295367,-0.157050,0.171225,-0.138508,-0.219450,49.246848,-123.040358,0.00,0.485419,0.000000e+00
4,0.113,-0.055533,0.407208,0.736558,-0.439058,-0.162650,-0.859558,0.505558,-0.155750,-0.112842,49.246848,-123.040358,0.00,1.034928,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459,0.158,-0.015008,0.204983,1.107950,-1.056167,-1.381117,1.669133,-0.063575,0.421442,0.585742,49.250568,-123.041774,1.55,2.599284,0.000000e+00
2460,0.160,-0.147733,0.278058,0.827325,-0.956517,-0.947933,0.065750,0.499975,1.273225,0.631675,49.250568,-123.041774,1.55,1.803473,0.000000e+00
2461,0.120,0.036625,0.370192,0.823725,0.721417,-0.375467,-0.571683,0.068908,0.630783,1.060333,49.250568,-123.041774,1.55,1.365104,0.000000e+00
2462,0.125,0.120325,0.407258,0.785475,1.654500,-0.012550,-0.994300,0.008017,0.250483,0.695858,49.250568,-123.041774,1.55,1.936962,2.598579e-09
2463,0.036,0.148400,0.422900,0.869000,1.839100,0.349167,-0.544867,-0.461633,-0.087233,0.444733,49.250568,-123.041774,1.55,1.986041,NaN